.text-center{
    text-align: center;
  }
  
  .bg-red{
    background: #1f1414;
    padding: 20px;              /* Adds spacing inside the content area */
    width: 300px;               /* Optionally set a width */
    margin: auto; 
    border-radius: 6px;
  }
  .mx-auto{
    margin: auto;
  }
  .flex{
    display: flex;
  }
  .flex-col{
    flex-direction: column;
  }
  
  .items-center{
    align-items: center;
  }